{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:jasmine/recommended"
  ],
  "plugins": [
    "babel",
    "jasmine",
    "promise"
  ],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "$": true,
    "_": true,
    "App": true,
    "Backbone": true,
    "Marionette": true,
    "Radio": true,
    "alert": true,
    "localStorage": true,
    "moment": true,
    "__CONFIG__": false
  },
  "rules": {
    "max-len": [ 2, 100, 2],
    "object-curly-spacing": [2, "always" ]
  }
}
